.intro-section {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    min-height: 100vh;
    padding: 0;
    margin: 0;

    background-color: #271715;
    color: rgb(170, 222, 135);
}

.intro-text {
    text-align: center;
    font-size: 1.3rem;
    max-width: 600px;
}