@keyframes dropDownAnimation {
    from {transform: translateY(-100px);}
    to {transform: translateY(0);}
}


.top-bar {
    align-items: center;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    padding: 1.5rem;
    z-index: 10000;

    background-color: #140c0b;
    backdrop-filter: blur(6px);

    animation: dropDownAnimation 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.top-bar nav {
    display: flex;
    gap: 2rem;
}

.top-bar a {
    color: #ffffff;
    font-size: 1rem;
}

.top-bar a:hover {
    color: #47f0b7;
    font-size: 1.2rem;

    transition: all 0.5s;
}

.top-bar a:not(:hover) {
    transition: all 0.5s;
}    
