.top-bar {
    align-items: center;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    padding: 1.5rem;
    z-index: 10000;

    background-color: #140c0b;
    backdrop-filter: blur(6px);
}

.top-bar nav {
    display: flex;
    gap: 2rem;
}

.top-bar a {
    color: white;
}

.top-bar a:hover {
    color: rgb(71, 240, 183);
}